<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>HTML Script Src</string>
	<key>uuid</key>
	<string>6D6E38E6-5A4A-4117-B8B1-727A759B3953</string>
</dict>
</plist>
